<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Layout/_Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="menu-container">
        <div class="menu">
            @* <a class="btn-click menu-icon" href="#"><img src="~/Image/icon-menu.png" alt="Menu Icon" /></a> *@
            <a class="btn-click" href="@Url.Action("AuthView","User")"><img src="~/Image/icon-entry.png" alt="Entry Icon" /><span class="menu-text">Вход / Регистрация</span></a>
            <a class="btn-click" href="#"><img src="~/Image/icon-home.png" alt="Home Icon" /><span class="menu-text">Главная</span></a>
        </div>        
    </div>

    @RenderBody()

    <footer>
        <div class="cont">
            
        </div>
    </footer>

    <script src="~/js/menu.js"></script>
</body>
</html>
