<!DOCTYPE html>
<html lang="en">
<head>
    <title>404 not found</title>
    <link rel="stylesheet" href="~/css/Error/NotFound.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="cont">
        <div class="form-lesson">
            <h1 class="title">404 not found</h1>
            <h1 class="title">Страница не найдена</h1>
        </div>
    </div>    
</body>
</html>
