@model ProfileEditDto
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Редактировать</title>
    <link rel="stylesheet" href="~/css/Profile/Edit.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</head>
<body>
    <div class="form__edit">
        <div class="cont">
            <div class="form__data">
                <form method="post" asp-controller="Profile" enctype="multipart/form-data">
                    <label class="title">Редактировать</label>
                    <div class="input__box">
                        <img class="input__icon" src="~/Image/icon-avatar.png" alt="Alternate Text" />
                        <input asp-for=@Model.NickName class="input__data" type="text" required />
                        <span class="input__title">Псевдоним</span>
                    </div>
                    <div class="input__box">
                        <img class="input__icon" src="~/Image/icon-email.png" alt="Alternate Text" />
                        <input asp-for=@Model.Email class="input__data" type="email" required />
                        <span class="input__title">Почта</span>
                    </div>
                    <div class="input__box">
                        <img class="input__icon" src="~/Image/icon-telephone.png" alt="Alternate Text" />
                        <input asp-for="@Model.Phone" id="phone-input" class="input__data" type="text" required placeholder="+7 (___) ___-__-__" />
                        <span class="input__title">Телефон</span>
                    </div>                                  
                    <img id="current-avatar" class="preview" src="@Url.Content(@Model.ImageUrl)" alt="Аватарка по умолчанию" />
                    <div class="input__box">
                        <label for="fileInput" class="custom-file-upload">
                            Выберите файл
                        </label>    
                        <input asp-for=@Model.ImageUrl type="hidden"/>
                        <input asp-for=Avatar type="file" id="fileInput" class="file-input" accept="image/*">
                        <label id="file-name">Файл не выбран</label>
                    </div>
                    <div class="input__box">
                        <button type="button" id="resetAvatar">Вернуть исходную аватарку</button>
                    </div>

                    <span>@Html.ValidationMessage("ErrorEdit")</span>
                    <a class="change__pasword" href="#">Изменить пароль</a>
                    <input asp-action="Edit" class="btn__edit" type="submit" value="Сохранить" />
                </form>
            </div>
        </div>
    </div>
    <script src="~/js/Profile/Edit.js"></script>
</body>
</html>