@model ProfileEditPasswordDto
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Изменение пароля</title>
    <link rel="stylesheet" href="~/css/Profile/EditPassword.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />    
</head>
<body>
    <div class="form__reg">
        <div class="cont">
            <div class="form__data">
                <form method="post" asp-controller="Profile">
                    <label class="title">Изменение пароля</label>                    
                    <div class="input__box">
                        <img class="input__icon" src="~/Image/icon-lock.png" alt="Alternate Text" />
                        <input asp-for=NewPassword id="password" class="input__data" type="password" required />
                        <span class="input__title">Новый пароль</span>
                    </div>
                    <div class="input__box">
                        <img class="input__icon" src="~/Image/icon-lock.png" alt="Alternate Text" />
                        <input asp-for=ConfirmPassword id="confirm-password" class="input__data" type="password" required />
                        <span class="input__title">Повторите пароль</span>
                    </div>
                    <span>@Html.ValidationMessage("ErrorEditPassword")</span>
                    <input asp-action="EditPassword" id="submit-btn" class="btn__reg" type="submit" value="Сохранить" disabled />
                </form>
            </div>
        </div>
    </div>
    <script src="~/js/Profile/EditPassword.js"></script>
</body>
</html>