.menu__container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    border-radius: 20px 0px 0px 20px;
    height: 100%;
    width: 30px;
    padding: 20px 10px;    
    border: 1px solid #353635;
    transition: width 0.3s ease;
    backdrop-filter: blur(50px);
    overflow: hidden;
}

    .menu:hover {
        width: 150px;
    }

.btn__click {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    text-decoration:none;
}

img {
    width: 30px;
    height: 30px;
}

.menu__text {
    margin-left: 10px;
    color: white;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.menu:hover .menu__text {
    opacity: 1;
}

.menu-icon {
    cursor: pointer;
}

.menu.open {
    width: 100px;
}


