.menu-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    border-radius: 20px 0px 0px 20px;
    height: 100%;
    width: 30px;
    padding: 20px 10px;
    border: 1px solid #353635;
    transition: width 0.3s ease;
    backdrop-filter: blur(50px);
    overflow: hidden;
}

    .menu:hover {
        width: 150px;
    }

.btn-click {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

img {
    width: 30px;
    height: 30px;
}

.menu-text {
    margin-left: 10px;
    color: white;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.menu:hover .menu-text {
    opacity: 1;
}

.profile-header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.arrow {
    font-size:10px;
    color:white;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.dropdown-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

    .dropdown-content.show {
        max-height: 100px; /* Максимальная высота для плавного раскрытия, подбирается в зависимости от содержания */
        opacity: 1;
    }
