@model IEnumerable<Lession>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Список уроков</title>
    <link rel="stylesheet" href="~/css/Lession/ListControl.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="cont">
        <div class="form-lesson">
            <h1 class="title">Список уроков</h1>

            <form asp-controller="Lesson" method="get">
                <div class="search-cont">
                    <input type="text" id="lessonSearchInput" class="search-lesson" placeholder="Поиск по названию" onkeyup="filterLessons()" />
                    <input asp-action="AddLessonView" type="submit" class="add-lesson-button" value="Добавить урок" />
                </div>
            </form>

            @if (Model == null || !Model.Any())
            {
                <h2 class="lesson-title">Список пуст</h2>
            }
            else
            {
                <div id="lessonList">
                    @foreach (var item in Model)
                    {
                        <div class="lesson-list">
                            <div class="lesson-item">
                                <form asp-controller="Lesson" method="post">
                                    <input asp-for=@item.Id type="hidden" name="lessonId" />
                                    <input asp-action="DeleteLesson" type="submit" class="delete-lesson-button" value="🗑">
                                </form>
                                <video class="lesson-video" controls>
                                    <source src="@Url.Content(item.ContentUrl)" type="video/mp4">
                                    Ваш браузер не поддерживает видео.
                                </video>
                                <div class="lesson-info">
                                    <h2 class="lesson-title">Название урока: @item.Title</h2>
                                    <p class="lesson-description">Описание урока: @item.Description</p>
                                    <form method="post">
                                        <input type="hidden" name="lessonId" value="@item.Id" />
                                        <div class="button-container">
                                            <input asp-action="EditLessonView" asp-controller="Lesson" type="submit" class="edit-lesson-button" value="Редактировать урок">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <script src="~/js/Lession/ListControl.js"></script>
</body>
</html>
