html {
    scrollbar-color: #808080 #353635;
    scrollbar-width: thin;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url(../Image/background.png);    
    margin: 0;
    padding: 0;
}

.cont {
    max-width: 1000px;
    margin: 0 auto;
}
