@model CourseAddDto
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Создание курса</title>
    <link rel="stylesheet" href="~/css/Course/Add.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="form-add-course">
        <div class="cont">
            <div class="form-data">
                <form method="post" asp-controller="Course" enctype="multipart/form-data">
                    <label class="title">Создать курс</label>
                    <div class="input-box">
                        <span class="input-title">Название</span>
                        <img class="input-icon" src="~/Image/icon-header.png" alt="Alternate Text" />
                        <input asp-for="Title" class="input-data" type="text" required />
                    </div>
                    <div class="input-box">
                        <span class="input-title textarea-title">Описание</span>
                        <textarea asp-for=Description class="input-data-textarea" required"></textarea>
                    </div>
                    <div class="input-box">
                        <span class="input-title">Цена ₽</span>
                        <img class="input-icon" src="~/Image/icon-ruble.png" alt="Alternate Text" />
                        <input asp-for="Price" id="price-input" class="input-data" type="text" placeholder="₽" required />
                    </div>
                    <div class="input-box">
                        <img id="current-preview" class="preview" alt="Превью" />
                    </div>
                    <div class="input-box">
                        <label for="fileInput" class="custom-file-upload"> Выберите файл</label>
                        <input asp-for="Preview" type="file" id="fileInput" class="file-input" accept="image/*">
                        <label id="file-name">Файл не выбран</label>
                    </div>

                    <input asp-action="AddCourse" class="btn-add" type="submit" value="Добавить" />
                </form>
            </div>
        </div>
    </div>
    <script src="~/js/Course/Add.js"></script>
</body>
</html>
