@model CourseEditDto
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Редактирование курса</title>
    <link rel="stylesheet" href="~/css/Course/Edit.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</head>
<body>
    <div class="form-auth">
        <div class="cont">
            <div class="form-data">
                <form method="post" asp-controller="Course" enctype="multipart/form-data">
                    <input asp-for=@Model.Id type="hidden"/>
                    <input asp-for=@Model.PreviewUrl type="hidden"/>
                    <label class="title">Редактировать курс</label>
                    <div class="input-box">
                        <span class="input-title">Название</span>
                        <img class="input-icon" src="~/Image/icon-header.png" alt="Alternate Text" />
                        <input asp-for="@Model.Title" class="input-data" type="text" required />
                    </div>
                    <div class="input-box">
                        <span class="input-title">Описание</span>
                        <textarea asp-for=@Model.Description class="input-data-textarea" required"></textarea>
                    </div>
                    <div class="input-box">
                        <span class="input-title">Цена ₽</span>
                        <input id="price-input" class="input-data" type="text" value="@Model.Price" placeholder="₽" required />
                        <img class="input-icon" src="~/Image/icon-ruble.png" alt="Alternate Text" />
                        <input asp-for="@Model.Price" id="price-hidden" type="hidden" />
                    </div>
                    <div class="input-box">
                        <span class="input-title">Превью</span>
                        <img src="@Url.Content(Model.PreviewUrl)" id="current-avatar" class="preview" alt="" />
                    </div>
                    <div class="input-box">
                        <label for="fileInput" class="custom-file-upload">
                            Выберите файл
                        </label>
                        <input asp-for=Preview type="file" id="fileInput" class="file-input" accept="image/*">
                        <label id="file-name">Файл не выбран</label>
                    </div>
                    <div class="input-box">
                        <button type="button" id="resetAvatar">Вернуть исходное превью</button>
                    </div>                    
                    <input asp-action="EditCourse" class="btn-add" type="submit" value="Сохранить" />
                </form>
            </div>
        </div>
    </div>
    <script src="~/js/Course/Edit.js"></script>
</body>
</html>
