@model IEnumerable<Course>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Список курсов</title>
    <link rel="stylesheet" href="~/css/Course/ListControl.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="cont">
        <div class="form-course">
            <h1 class="title">Список курсов</h1>

            <div class="search-cont">
                <input type="text" placeholder="Поиск по названию курса..." onkeyup="filterCourses()">
                <input type="date" placeholder="Поиск по дате...">
            </div>
            @foreach (var item in Model)
            {
                <div class="course-list">
                    <div class="course-item">
                        <img src="~/Avatar/034530c6-459e-4e83-bc7e-c025655efe2f.jpg" alt="Course Image" class="course-image">
                        <div class="course-info">
                            <h2 class="course-title">Название курса</h2>
                            <p class="course-description">Описание курса...</p>
                            <p class="course-description">Цена: 10999</p>
                            <p class="course-dates">
                                Дата создания: 01.01.2023<br>
                                Последнее обновление: 15.05.2023
                            </p>
                            <span class="course-status approved">Статус: Одобрен</span>
                            <div class="button-container">
                                <input type="submit" class="edit-course-button" value="Редактировать курс">
                                <input type="submit" class="add-lesson-button" value="Добавить урок">
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
